{% load static %}
<html>
    <head>
        <title>Missing Child App</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}"/>
        <!-- <link rel="stylesheet" href="../static/style1.css"> -->
        <script src="https://kit.fontawesome.com/8c15bc3100.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Grape+Nuts&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script>
            $('.menu-toggle').click(function(){
                $(".nav").toggleClass("mobile-nav");
                $(this).toggleClass("is-active");
            });
        </script>
    </head>
    <body>
        <div class="page-wrapper">
            <div class="nav-wrapper">
                <div class="grad-bar"></div>
                <nav class="navbar">
                    <h3>Safe Track</h3>
                    <div class="menu-toggle" id="mobile-menu">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </div>
                    <ul class="nav">
                      <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
                      <li class="nav-item"><a href="{% url 'Upload' %}">Upload</a></li>
                      <li class="nav-item"><a href="{% url 'Login' %}">Login</a></li>
                    </ul>
                </nav>
            </div>
             <section class="headline">
               <h1>Missing Child Identification System</h1>
               <p>using Deep Learning and Multiclass SVM</p>
             </section>
             <section class="gallery">
                <h2>Gallery</h2>
                <div class="gallery-container">
                    <div class="gallery-card">
                        <img src="../static/images/investor.jpg" alt="Flexbox Feature">
                    </div>
                    <div class="gallery-card">
                        <img src="../static/images/training-photos.jpg" alt="Flexbox Feature">
                    </div>
                    <div class="gallery-card">
                        <img src="../static/images/example.png" alt="Flexbox Feature">
                    </div>
                    <div class="gallery-card">
                        <img src="../static/images/process.png" alt="Flexbox Feature">
                    </div>
                    <div class="gallery-card">
                        <img src="../static/images/process2.png" alt="Flexbox Feature">
                    </div>
                    <div class="gallery-card">
                        <img src="../static/images/process3.jpg" alt="Flexbox Feature">
                    </div>
                </div>
             </section>
             <section class="context">
                <p>
		            Abstract-In India a countless number of children are reported missing every year. Among the missing child cases a
                    large percentage of children remain untraced. This paper presents a novel use of deep learning methodology for
                    identifying the reported missing child from the photos of multitude of children available, with the help of face
                    recognition. The public can upload photographs of suspicious child into a common portal with landmarks and remarks. The
                    photo will be automatically compared with the registered photos of the missing child from the repository.
                </p>
                <p>
                    Classification of the input child image is performed and photo with best match will be selected from the database of missing children. For this, a deep learning model is trained to correctly identify the missing child from the missing child image database provided, using the facial image uploaded by the public. The Convolutional Neural Network (CNN), a highly effective deep learning technique for image based applications is adopted here for face recognition.
                </p>
                <p> 
                    Face  descriptors are extracted from the images using a pre-trained CNN model VGG-Face deep architecture. Compared with normal deep learning applications, our algorithm uses convolution network only as a high level feature extractor and the child recognition is done by the trained SVM classifier.
                </p>
             </section>
             <footer>
                <div class="footer-content">
                    <div class="footer-header">
                        <h4>Safe Track</h4>
                        <p>Safe track is a  ---  source code.</p>
                    </div>
                    <ul class="socials">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <p>copyright &copy;2022 <a href="#">safetrack</a></p>
                    <div class="footer-menu">
                        <ul class="f-menu">
                           <li>Mani</li>
                           <li>Ravi</li>
                           <li>Kiran</li>
                           <li>Nikith</li>
                        </ul>
                    </div>
                 </div>
             </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
